.main {
  display: flex;
  flex-direction: row;
}
.form-container {
  margin: 15%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}

input {
  border: 1px double black;
  border-radius: 6%;
  margin-top: 10%;
}
