.header-id {
    /* height: 25px; */
    width: 18rem;
    /* left: 351px; */
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #B4B4C6;
    cursor: pointer;
}
.header-container {
    height: 3rem;
    padding-left: 1vw;
    padding-top: 4vh;
    display: flex;
}
.logout {
    display: flex;
    /* margin-right: 2vw; */
    margin-left: 35rem;
    /* margin-left: 52vw; */
    /* left: 10px; */
}
div.username {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    margin-left: 0.5rem;
    font-size: 22px;
    line-height: 28px;
    color: #A6A6A6;
    letter-spacing: 0em;
    width: 9rem;
    text-align: left;
    float: right;
    cursor: pointer;
}
img.user {
    height: 21px;
    margin-bottom: -2px;
    cursor: pointer;
    /* width: 22px; */
}
img.down {
    height: 11px;
    width: 18px;
    margin-top: 8px;
    cursor: pointer;
}