.searchbar-container {
    display: flex;
}


form.form {
    height: 64px;
    margin-left: 5vh;
    width: 377px;
    margin-top: 7vh;
    /* left: 362px; */
    /* position: absolute; */
    /* right: 53.81%; */
    /* top: 14.91%; */
    /* bottom: 79.17%; */
    background: transparent;
    /* border-radius: 0px; */
}
.form-control {
    height: 64px;
    width: 377px;
    border: 1px solid wheat;
    border-radius: 32px;
}
img.line {
    top: -3.5rem;
    border: 1px rgb(82 80 80);
    height: 3rem;
    /* margin: 20px 0 0 300px; */
    position: relative;
    left: 19rem;
}
img#search {
    position: relative;
    left: 20rem;
    top: -4rem;
    cursor: pointer;
}
button#search-btn {
    background: #8fc7fa;
    height: 64px;
    margin: 8vh 1vw 0 37vw;
        font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: rgba(250, 251, 252, 1);
    line-height: 25px;
    width: 182px;
    float: right;
    /* left: 1381px; */
    /* position: absolute; */
    border-radius: 42px;
    /* left: 86.31%; */
    cursor: pointer;
    /* right: 2.31%; */
    /* top: 14.91%; */
    /* bottom: 79.17%; */
    box-shadow: 0px 10px 25px rgb(0 0 0 / 13%);
    /* top: 161px; */
    /* border-radius: 0px; */
    box-shadow: 0px 10px 25px 0px rgb(0 0 0 / 13%);
}

img.plus {
    /* background: #FAFBFC; */
    padding-right: 1rem;
    color: rgba(250, 251, 252, 1);
}